@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: kurdish;
  src: url('./fonts/Rabar_009.ttf') format('truetype');
}
@font-face {
  font-family: english;
  src: url('./fonts/Lexend-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: Ubuntu;
  src: url('./fonts/Ubuntu-Medium.ttf') format('truetype');
}
@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
